name: Continuous Integration

on:

  pull_request:
    branches: [ main ]

jobs:

  test_pull_request_terraform:

    name: Run tests with Terraform
    runs-on: ubuntu-latest

    strategy:
      matrix:
        version:
          - "0.11.15"
          - "0.12.31"
          - "0.13.7"
          - "0.14.11"
          - "0.15.5"
          - "1.0.11"
          - "1.1.9"
          - "1.2.9"
          - "1.3.10"
          - "1.4.7"
          - "1.5.7"
          - "1.6.6"
          - "1.7.5"
          - "1.8.5"
          - "1.9.8"
          - "1.10.5"
          - "1.11.4"
          - "1.12.2"
          - "1.13.5"
          - "1.14.4"

    steps:

      - name: Checkout git
        uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ".github/actions/terraform-version-runner/Dockerfile"
          tags: "local-terraform:${{ matrix.version }}"
          load: true
          cache-from: "type=gha"
          cache-to: "type=gha,mode=max"
          push: false
          build-args: "TFVER=${{ matrix.version }}"

      - name: Run test suite
        uses: addnab/docker-run-action@v3
        with:
          image: "local-terraform:${{ matrix.version }}"
          options: "-v ${{ github.workspace }}:/work -w /work"
          run: |
              terraform --version
              make

  test_pull_request_opentofu:

    name: Run tests with OpenTofu
    runs-on: ubuntu-latest
    needs: test_pull_request_terraform

    strategy:
      matrix:
        version:
          - "1.7.10"
          - "1.8.11"
          - "1.9.3"
          - "1.10.8"
          - "1.11.4"

    steps:

      - name: Checkout git
        uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ".github/actions/opentofu-version-runner/Dockerfile"
          tags: "local-opentofu:${{ matrix.version }}"
          load: true
          cache-from: "type=gha"
          cache-to: "type=gha,mode=max"
          push: false
          build-args: "VERSION=${{ matrix.version }}"

      - name: Run test suite
        uses: addnab/docker-run-action@v3
        with:
          image: "local-opentofu:${{ matrix.version }}"
          options: "-v ${{ github.workspace }}:/work -w /work"
          run: |
              tofu --version
              TERRAFORM=tofu make
